footer{
    margin-left: 50px;
    margin-top: 50px;
    .items{
        display: flex;
        gap: 100px;
    }
    .logos{
        display: flex;
        justify-content: space-between;
        padding: 20px;
    }
    .text{
     display: flex;
     align-items: center;
     justify-content: flex-end;
     padding: 20px;
     }

}
